---
import Layout from '../layouts/Layout.astro';
import Header from '../sections/Header.astro';
import Hero from '../sections/Hero.astro';
import Content from '../sections/Content.astro';
---

<Layout title="Business Agency | HEADER">
	<Header />
	<main>
		<Hero />
		<Content />
	</main>
</Layout>