---
const {titleCard} = Astro.props
const {textCard} = Astro.props
---

<article class="rounded-xl p-4 flex flex-col gap-3 transition-shadow duration-300 linear hover:shadow-boxs hover:cursor-pointer bg-white">
    <figure>
        <slot />
    </figure>
    <h3 class="font-poppins text-xl font-semibold">{titleCard}</h3>
    <p class="text-sm text-pretty text-third">{textCard}</p>
</article>
