---
import Card from "../components/Card.astro";
import BusinessPlaning from "../../public/icons/BusinessPlaning.astro";
import DigitalMarketing from "../../public/icons/DigitalMarketing.astro";
import FinancialPlanning from "../../public/icons/FinancialPlanning.astro";
import MarketAnalysis from "../../public/icons/MarketAnalysis.astro";
---

<section
  class="w-10/12 mx-auto grid items-center justify-between grid-cols-4s gap-3 mt-5"
>
  <Card
    titleCard="Business Planning"
    textCard="Lorem ipsum dolor sit amet consectetur adipisicing elit."
  >
    <BusinessPlaning></BusinessPlaning>
  </Card>
  <Card
    titleCard="Financial Planning"
    textCard="Lorem ipsum dolor sit amet consectetur adipisicing elit."
  >
    <FinancialPlanning />
  </Card>
  <Card
    titleCard="Digital Marketing"
    textCard="Lorem ipsum, dolor sit amet consectetur adipisicing elit."
  >
    <DigitalMarketing />
    
  </Card>
  <Card
    titleCard="Market Analysis"
    textCard="Lorem ipsum dolor sit amet consectetur adipisicing elit."
  >
    <MarketAnalysis />
  </Card>

</section>
