---

---

<header
  class="header__container w-[80%] max-w-[1200px] mx-auto py-4 flex items-center justify-between flex-col flex-wrap md:flex-row gap-2 fixed top-0 right-[10%]"
>
  <span>
    <a class="font-semibold text-3xl" href="/">Archesky</a>
  </span>
  <nav>
    <ul class="flex items-center justify-start gap-4">
      <li><a href="/">Home</a></li>
      <li><a href="/about">Service</a></li>
      <li><a href="/about">Portofolio</a></li>
      <li><a href="/blog">How we works</a></li>
    </ul>
  </nav>
</header>

<style>
  @keyframes enhance-header {
    100% {
      background-color: #7EDAD260;
      backdrop-filter: blur(.5rem);
      border-radius:0 0 15px 15px;
    }
  }
  .header__container {
    animation: enhance-header linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 100px;
  }
</style>
