---

---

<header class="w-[80%] max-w-[1200px] mx-auto py-4 flex items-center justify-between flex-col flex-wrap md:flex-row gap-2 sticky top-0">
    <span>
        <a class="font-semibold text-3xl" href="#">Archesky</a>
    </span>
    <nav>
        <ul class="flex items-center justify-start gap-4">
            <li><a href="/">Home</a></li>
            <li><a href="/about">Service</a></li>
            <li><a href="/about">Portofolio</a></li>
            <li><a href="/blog">How we works</a></li>
        </ul>
    </nav>
</header>