---
import Cardhero from "../components/Cardhero.astro"
---

<section class="grid grid-cols-1 md:grid-cols-2p items-center gap-y-4 md:h-[500px] lg:max-h-[430px]">
  <div class="w-10/12 mx-auto pt-2 flex flex-col gap-y-4 md:mr-0">
    <h1 class="font-bebas text-5xl md:w-[130%] text-balance lg:text-7xl text-monteCario-950 relative z-[1]">
      <span class="text-monteCario-300">Smart </span>Business with <span
        class="text-monteCario-300">Smart</span
      > People
    </h1>
    <p class="text-monteCario-900 text-balance lg:text-base">
      Grow your business to the next level to improve your business performance
      to stay competitive
    </p>
    <a href="#" class="inline-flex w-max px-8 py-3 bg-monteCario-300 text-white rounded-md transition-colors duration-300 ease-linear hover:bg-monteCario-400 active:bg-monteCario-700"
      >Let’s Discuss</a
    >
    <div class="flex items-center gap-2 ">
      <Cardhero title="10+" text="Years Experience" />
      <Cardhero title="891" text="Cases Solved" />
      <Cardhero title="263" text="Business Partners" />
    </div>
  </div>
  <figure class="bg-monteCario-300 w-10/12 h-full mx-auto rounded-xl flex items-end md:w-full md:rounded-none">
    <img 
      class="w-full h-full max-h-[480px] object-contain" 
      src="./public/herowm.png" 
      alt="Imagen principal de la pagina" 
      />
  </figure>
</section>