---

---

<section class="grid grid-cols-1 md:grid-cols-2 items-center gap-4 md:gap-0">
  <div class="w-[80%] mx-auto md:ml-[20%] pt-32 lg:pt-16 xl:pt-0">
    <h1 class="text-6xl text-balance mb-4 md:w-[140%] relative z-1 lg:text-7xl xl:text-[5rem] text-monteCario-950">
      <span class="font-bebas text-monteCario-300">Smart </span>Business with <span
        class="font-bebas text-monteCario-300">Smart</span
      > People
    </h1>
    <p class="mb-8 text-monteCario-900 text-balance lg:text-base">
      Grow your business to the next level to improve your business performance
      to stay competitive
    </p>
    <a href="#" class="px-8 py-3 bg-monteCario-300 text-white rounded-md transition-colors duration-300 ease-linear hover:bg-monteCario-400 active:bg-monteCario-700"
      >Let’s Discuss</a
    >
    <div class="flex flex-wrap gap-4  mt-8 ">
      <article
        class="min-w-min bg-white relative z-1 rounded-sm  flex flex-col items-center animation-all duration-200 ease-linear hover:cursor-pointer w-max p-3 hover:shadow-boxs2"
      >
        <h2 class="text-3xl text-monteCario-950">10+</h2>
        <p class="text-monteCario-900">Years Experience</p>
      </article>
      <article
        class="min-w-min bg-white relative z-1 rounded-sm  flex flex-col items-center animation-all duration-200 ease-linear hover:shadow-boxs2 hover:cursor-pointer w-max p-3"
      >
        <h2 class="text-3xl text-monteCario-950">891</h2>
        <p class="text-monteCario-900">Cases Solved</p>
      </article>
      <article
        class="min-w-min bg-white relative z-1 rounded-sm  flex flex-col items-center animation-all duration-200 ease-linear hover:shadow-boxs2 hover:cursor-pointer w-max p-3"
      >
        <h2 class="text-3xl text-monteCario-950">263</h2>
        <p class="text-monteCario-900">Business Partners</p>
      </article>
    </div>
  </div>
  <figure class="bg-monteCario-300 w-[80%] mx-auto md:w-full m-0 h-full"
  style="mask-image: linear-gradient(white 90%, transparent)">
    <img 
      class="w-full h-full object-cover" 
      src="./public/Hero-bg.webp" 
      alt="Imagen principal de la pagina" 
      style="mask-image: linear-gradient(white 60%, transparent)"
      />
  </figure>
</section>
