---

---

<section class="grid grid-cols-1 md:grid-cols-2 items-center gap-4 md:gap-0">
  <div class="w-[80%] mx-auto md:ml-[20%] pt-32 lg:pt-16 xl:pt-0">
    <h1 class="text-6xl text-balance mb-4 md:w-[140%] relative z-1 lg:text-7xl xl:text-[5rem]">
      <span class="font-bebas text-primary">Smart </span>Business with <span
        class="font-bebas text-primary">Smart</span
      > People
    </h1>
    <p class="mb-8 text-third text-balance lg:text-base">
      Grow your business to the next level to improve your business performance
      to stay competitive
    </p>
    <a href="#" class="px-8 py-3 bg-primary text-white rounded-md transition-colors duration-300 ease-linear hover:bg-opacity-80"
      >Let’s Discuss</a
    >
    <div class="flex flex-wrap gap-4  mt-8 ">
      <article
        class="min-w-min bg-white relative z-1 rounded-sm  flex flex-col items-center animation-all duration-200 ease-linear hover:shadow-boxs hover:cursor-pointer w-max p-3"
      >
        <h2 class="text-3xl">10+</h2>
        <p class="text-third">Years Experience</p>
      </article>
      <article
        class="min-w-min bg-white relative z-1 rounded-sm  flex flex-col items-center animation-all duration-200 ease-linear hover:shadow-boxs hover:cursor-pointer w-max p-3"
      >
        <h2 class="text-3xl">891</h2>
        <p class="text-third">Cases Solved</p>
      </article>
      <article
        class="min-w-min bg-white relative z-1 rounded-sm  flex flex-col items-center animation-all duration-200 ease-linear hover:shadow-boxs hover:cursor-pointer w-max p-3"
      >
        <h2 class="text-3xl">263</h2>
        <p class="text-third">Business Partners</p>
      </article>
    </div>
  </div>
  <figure class="bg-primary w-[80%] mx-auto md:w-full m-0 h-full">
    <img 
      class="w-full h-full object-cover" 
      src="./public/Hero-bg.webp" 
      alt="Imagen principal de la pagina" />
  </figure>
</section>
