---

---
<section class="grid grid-cols-1 md:grid-cols-2 items-center">
    <div class="w-[80%] mx-auto md:ml-[20%] pt-28 xl:pt-0">
        <h1 class="text-6xl text-balance mb-4"><span class="font-bebas text-primary">Smart </span>Business with <span class="font-bebas text-primary">Smart</span> People</h1>
        <p class="mb-8 text-third">Grow your business to the next level to improve your business performance to stay competitive</p>
        <a href="#" class="px-8 py-3 bg-primary text-white rounded-md">Let’s Discuss</a>
        <div class="flex gap-4  flex-wrap mt-8">
            <article class="flex flex-col items-center animation-all duration-200 ease-linear hover:shadow-lg hover:cursor-pointer w-max p-3">
                <h2 class="text-3xl">10+</h2>
                <p class="text-third">Years Experience</p>
            </article>
            <article class="flex flex-col items-center animation-all duration-200 ease-linear hover:shadow-lg hover:cursor-pointer w-max p-3">
                <h2 class="text-3xl">891</h2>
                <p class="text-third">Cases Solved</p>
            </article>
            <article class="flex flex-col items-center animation-all duration-200 ease-linear hover:shadow-lg hover:cursor-pointer w-max p-3">
                <h2 class="text-3xl">263</h2>
                <p class="text-third">Business Partners</p>
            </article>
        </div>
    </div>
    <figure class="bg-primary">
        <img src="./public/Hero-bg.webp" alt="Imagen principal de la pagina">
    </figure>
</section>